
importMethodsFrom(Biobase, annotation, assayData, featureData,featureNames,
    varLabels, phenoData, "featureData<-")
importClassesFrom(oligoClasses, oligoSnpSet)
importFrom("oligoClasses","integerMatrix")
importFrom("graphics", "legend", "plot", "points", "title")
importFrom("methods", "new")
importFrom("utils", "data", "read.table", "write.table")
importFrom("grDevices", "dev.new")
import("GWASTools")

## Exported functions

export( "centromere",
        "logAdd",
	"indexLA0",
	"estGlobParam",
	"computeLA0Vect",
	"computeA10",
	"computeRecursions",
	"computeRegrCurve",
	"computePCReg",
	"computeMBPCR",
	"writeEstProfile",
	"importCNData",
	"estProfileWithMBPCR",
        "estProfileWithMBPCRforOligoSnpSet",
	"plotEstProfile")

