
importMethodsFrom(Biobase, annotation, assayData, featureData,featureNames,
    varLabels, phenoData, "featureData<-")
importClassesFrom(oligoClasses, oligoSnpSet)
importFrom(SNPchip, centromere)

## Exported functions

export("logAdd",
	"indexLA0",
	"estGlobParam",
	"computeLA0Vect",
	"computeA10",
	"computeRecursions",
	"computeRegrCurve",
	"computePCReg",
	"computeMBPCR",
	"writeEstProfile",
	"importCNData",
	"estProfileWithMBPCR",
      "estProfileWithMBPCRforOligoSnpSet",
	"plotEstProfile")

